.legend{
    background-color: #000000;
    color: #FFF5EE;
}

.title{
    color: #FFF5EE;
    display: flex;
}

.title select{
    font-size: 2em;

    display: block;
	color: #edd9a3;
	padding: .2em 1.4em .1em .8em;

	box-sizing: border-box;
	margin: 0px 10px;
	border: 1px solid #edd9a3;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #000;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23EDD9A3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #555 0%,#000 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.title select:hover {
	border-color: #888;
}
.title select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	outline: none;
}

.good{
    font-size: 1.0em;
    color: #edd9a3;
    background: rgba(0, 0, 0, 0.5);
    margin:0px 2px 0px 2px;
}

html{
    background-color: #000000;
}

hr {
    background-color: #edd9a3;
}

.warning{
    font-size: 0.8em;
    color:#f79c79;
    margin:0px 2px 0px 2px;
}

.repeatable{
    font-size: 1.0em;
    color:#f2637f;
    margin:0px 2px 0px 2px;
}

.blocked{
    font-size: 1.2em;
    color:#ca3c97;
    margin:0px 2px 0px 2px;
}

.ignored{
    font-size: 1.2em;
    color:#ca3c97;
    margin:0px 2px 0px 2px;
}

.improve{
    font-size: 1.1em;
    color: #edd9a3;
    background: rgba(0, 0, 0, 0.5);
    margin:0px 2px 0px 2px;
}

.degrade{
    font-size: 1.1em;
    color:#f2637f;
    margin:0px 2px 0px 2px;
}

.icon-24{
    height: 24px;
    width: 24px;
    
    fill:"currentColor";
}

.material-icons {
    height: 1em;
    width: 1em;
    top:5px;
  }

.results {
    align-items:  center;
  }
.icon-text{
    font-size: 24px;
    line-height: 24px;
    vertical-align: top;
}

.legend label{
    font-size: 24px;
    margin:0 3;
}

#network-chart{
    width: 1000px;
    height: 600px;
    border: 1px solid #FFF5EE;
}

#path-results{
    width: 1000px;
    height: 600px;
    border: 1px solid #FFF5EE;
}

.container{
    display: flex;
}

.node-label{
    display: flex;
    justify-content: center;
    /*border: 1px solid #FFF5EE;*/
    margin-top: 22px;
    margin-left:150px;
    width: 150px;
    align-items: center;
}

.node-label-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

/* path styles */
.path-label-content{
    display: flex;
    color: #FFF5EE;
    background: rgba(0, 0, 0, 0.5);
    border-color: #f79c79;
}

.jstree-anchor{
    display: inline-flex;
}

/*tooltip  start*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #FFF5EE;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    font-size: 1rem;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/*tooltip end*/